<h1> Scrabble! </h1>
<form action='/results'>
  <div class="form-group">
    <label for="scrabble">Enter your sentence</label>
    <input id="scrabble" name="scrabble" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">What is my word value!!!!</button>
</form>
